body {
  font-family: 'Gill sans', sans-serif;
}

#hero {
  background: #eee;
  height: 100%
}

#hero-img {
  width:100%
/* get text to float over img */
}

nav>ul {
  list-style: none;
  /* get links floating and aligned properly */
}

.nav_link {
  text-decoration: none
}

h1 {
  font-weight: 900
}

#jokes-container {
  text-align: center;
}

.card {
  background: #eeeeee;
  display: inline-block; 
  padding: 10px 20px 20px;
  margin: 20px 10px 10px 10px;
  background-color: #ffffff;
  min-height: 300px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2)
}

.like-btn {
  border: 1px solid;
  color: #292929;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  float: left;
}

.likes {
  float: right;
}

#search-container {
  padding: 50px 25px;
  text-align: center;
}