body {
  font-family: 'Gill sans', sans-serif;
  max-width: 480px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: 900;
}

img {
  max-height: 480 px;
}

.button {
  border: 1px solid;
  color: #292929;
  margin: 25px 0 25px 0;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
}

.card>button {
  float: left;
}

hr {
  width: 100%;
  margin-top: 50px;
}

#hero {
  background: #eee;
  height: 100%;
  color: white;
  text-align: center;
}

.hero-text {
    position: absolute;
    left: 35%;
}

#hero-img {
  width:100%;
}

#intro {
  margin-top: 25px; 
  margin-bottom: 50px;
}

#jokes-container {
  align-content: center;
}

.card {
  background: #eeeeee;
  display: inline-block; 
  padding: 10px 20px 20px;
  margin: 20px 10px 10px 10px;
  background-color: #ffffff;
  min-height: 300px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2)
}

.setup-delivery {
  margin-bottom: 20px;
}

.likes {
  float: right;
}

#form-container {
  margin: 25px 0 50px 0; 
  padding: 25px 10px 25px 0;
}

#add-joke-form {
  text-align: left;
  line-height: 24px;
}

.input {
  width: 100%;
  max-width: 600px;
  margin: 0 10px 20px 0;
  border-radius: 50px;
  padding: 4px 0 4px 12px;
  border: 1px solid;
}

#footer {
  background: #eee;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}